@charset "utf-8";

#back {
    background: linear-gradient(#F1FEFE, #FFFFFF); /*背景色グラデ指定*/
}


.toggle-password {
    position: absolute;
    right: 205px; /* 右側に配置 */
    top: 375px;
    transform: translateY(-50%); /* 縦中央揃え */
    cursor: pointer;
    font-size: 20px;
}
#title {
    font-size: 35px; /*文字の大きさ指定*/
    text-align: center; /*中央に寄せる*/
    clear: both; /*下の行を問題なく発生させる*/
    overflow: hidden; /*ボックスの範囲から飛び出た時そこを隠す*/
    letter-spacing: 0.25em;/*文字の間のスペース指定*/
}

#input {
    text-align: center; /*中央に揃える*/
    font-size: 25px /*文字の大きさ指定*/
}

#input input[type="text"],
#input input[type="password"] {
    text-align: center; /*中央に揃える*/
    width: 60%; /*横幅指定*/
    font-size: 20px; /*文字の大きさ指定*/
    padding: 10px; /*内側の余白の大きさ*/
    margin: 10px 0; /*外側の余白の大きさ*/
    border: 2px solid #ccc;  /*枠の淵の線の太さと色指定*/
    border-radius: 15px; /*枠の淵の丸みを指定*/
}


#submit {
    text-align: right; /* ボタンを右に寄せる */
    margin: 20px auto; /*外側の余白の大きさ*/
}

#submit input[type="submit"] {
    font-size: 20px; /*文字の大きさ指定*/
    padding: 8px 16px; /*内側の余白の大きさ*/
    background-color: #ffea81; /*ボタンの色指定*/
    color: black; /*文字の色指定*/
    cursor: pointer; /*マウスが上に行った際にクリックできますよ的な感じのやつにポインターが変わるお*/
    border-radius: 10px; /*枠の淵の丸み指定*/
    border: none; /*枠を削除*/
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5), inset 0px -3px 6px -2px rgba(0,0,0,0.3); /* シャドウ追加 */
}

#newentry {
    text-align: right; /*右に移動*/
    margin: 50px;  /*外側の余白の大きさ*/
} 

/* Base styles for buttons */
button, input[type="submit"], .con, .care, .tr {
    padding: 10px 20px; /* 共通のパディング */
    border: none; /* 枠線なし */
    border-radius: 10px; /* 角丸 */
    cursor: pointer; /* ホバー時にカーソル */
    font-size: 16px; /* フォントサイズ */
    background-color: #FFEA81; /* 背景色 */
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out; /* 滑らかなエフェクトのトランジション */
}

/* Hover state for buttons */
button:hover, input[type="submit"]:hover, .con:hover, .care:hover, .tr:hover {
    transform: scale(1.05); /* 少し拡大 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); /* シャドウを強調 */
}

/* Active state for buttons */
button:active, input[type="submit"]:active, .con:active, .care:active, .tr:active {
    transform: translateY(5px); /* 下方向に移動 */
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4); /* シャドウを調整 */
}

