@charset "utf-8";
/* メニューボタン全体位置指定 */
#admin_navi {
    width: 980px;
    clear: both;
    overflow: hidden;
    margin: 50px auto;
}
/*　リストの・を消す */
#admin_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 文字間隔を変更 */
#admin_navi ul li {
    height:75px;
}

#admin_navi ul li a {
    display: block;
    padding: 15px;
    background-color: yellow;
    color: black;
}