body {
    background: linear-gradient(#F1FEFE, #FFFFFF); /*背景色グラデ*/
    display: flex; /*ディスプレイ設定*/
    justify-content: center;   /*横、中央に*/
    height: 100vh;          /*高さ*/
}

#sentence {
    display: flex; /*ディスプレイ*/
    flex-direction: column; /*縦方向に並べる*/
    align-items: center; /*真ん中に並べる */
}

#buttons {
    display: flex;           /* 横並び配置 */
    gap: 10px;               /* ボタンスペース */
    margin-top: 15px; /*要素の上のスペース広さ*/
}

#ok input[type="submit"],
#cancel input[type="submit"] {
    font-size: 16px;  /*フォントサイズ設定*/
    padding: 8px 16px;  /*空白設定*/
    cursor: pointer;  /*クリックできますよ的なの出るように*/
    border-radius: 15px; /*渕の丸み*/
    min-width: 100px;      /*横幅*/
    min-height: 50px;       /*立幅*/
    text-align: center;     /* 中央寄せ */
    border: none; /* 枠を削除 */
    border-radius: 10px; /*枠の淵の丸み指定*/
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5), inset 0px -3px 6px -2px rgba(0,0,0,0.3); /* シャドウ追加 */
}

#ok input[type="submit"] {
    background:#29a7eb; /*OKボタン色指定*/
    color: #FFFFFF;
}

/* Base styles for buttons */
button, input[type="submit"], .con, .care, .tr {
    padding: 10px 20px; /* 共通のパディング */
    border: none; /* 枠線なし */
    border-radius: 10px; /* 角丸 */
    cursor: pointer; /* ホバー時にカーソル */
    font-size: 16px; /* フォントサイズ */
    background-color: #FFEA81; /* 背景色 */
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out; /* 滑らかなエフェクトのトランジション */
}

/* Hover state for buttons */
button:hover, input[type="submit"]:hover, .con:hover, .care:hover, .tr:hover {
    transform: scale(1.05); /* 少し拡大 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); /* シャドウを強調 */
}

/* Active state for buttons */
button:active, input[type="submit"]:active, .con:active, .care:active, .tr:active {
    transform: translateY(5px); /* 下方向に移動 */
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4); /* シャドウを調整 */
}
