@charset "utf-8";

body {
    background: linear-gradient(#F1FEFE, #FFFFFF);
}

nav#title {
    font-size: 35px; /*フォントサイズ*/
    text-align: center; 
    clear: both;
    overflow: hidden;
    margin: 25px auto;
    letter-spacing: 0.25em;
}

nav#input {
    display: flex;           
    flex-direction: column;  /* 縦方向配置 */
    align-items: center;  
}

nav#input input[type="text"],
nav#input input[type="password"],
nav#input input[type="number"],
nav#input select {
    width: 80%;
    text-align: center;
    width: 60%; 
    font-size: 20px;
    padding: 5px;
    margin: 8px 0;
    border-radius: 15px;
}


#submit {
    text-align: right; 
    margin: 20px auto;
    border-radius: 15px;
}

#submit input[type="submit"] {
    border-radius: 15px;
    font-size: 20px;
    padding: 8px 16px;
    background-color: yellow;
    color: black;
    cursor: pointer;
    border: 1.5px solid black; /*枠線太さ色*/
}

/*体重小数点エラー部分*/
.error {
    display: none; 
  }
  /* 隣接セレクタで
   * input:invalidの隣の
   * エラーメッセージは表示する
   */
  input:invalid + .error {
    display: block;
    color: red;
    font-size: 0.9em;
}

