/* 全体の基本スタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* フォント設定 */
    background: linear-gradient(#F1FEFE, #FFFFFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* 中央寄せのために追加 */
    height: 100vh;
}

/* 見出し */
h2 {
    font-size: 28px;
    margin: 10px 0 5px;
    color: #333;
    text-align: center;
}

/* ボタンのスタイル */
button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f3efef;
    color: #ffffff;
    font-size: 14px;
    margin: 5px;
}

button:hover {
    background-color: #87898b;
}

/* 左右矢印ボタン */
#prev-button, #next-button {
    position: fixed; /* 親要素からの相対位置にするためfixedに変更 */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#prev-button {
    left: 10px;
}

#next-button {
    right: 10px;
}

/* スクロール可能なリスト */
.scrollable-memo {
    max-height: 400px; /* 高さを固定 */
    overflow-y: scroll; /* 縦スクロールを有効にする */
    width: 100%;
}

/* ユーザーネーム表示 */
#username {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

/* レコード表示エリア */
#record-container {
    width: 100%;
     /* 幅を最大600pxに設定 */
    text-align: center;
}

/* トレーニング履歴表示 */
#exerciseList {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* rearボタン */
/* 戻るボタン */
#rear {
    position: fixed;  /* 画面に固定 */
    top: 10px;        /* 上からの距離 */
    right: 10px;      /* 右からの距離 */
    cursor: pointer;
    
    z-index: 100;     /* 他の要素の下に隠れないように */
    width: 80px;      /* ボタンの幅 */
    height: 50px;     /* ボタンの高さ */
}

.resize-image {
    position: absolute;
    width: 60px; /* 幅を200ピクセルに設定 */
    height: 60px; /* 高さを100ピクセルに設定 */
    left: 12px;
    top: -6px;
  }

.created-at {
    position: absolute;
    font-weight: bold;
    font-size: 26px;
    margin-top: -20px;
    margin-left: 566px;
}

.weight-info {
    font-size: 50px;
    font-weight: bold;
    padding-top: 130px;
    color: #333;
    text-align: right;
    padding-right:280px;
}

.meal-info {
    font-size: 25px; /* サイズを少し大きく */
    Display: flex;
    right: 40px;
    flex-flow: column;
    text-align: left;
    padding-left: 150px;
    vertical-align: top;
    width: 200px;
}

.training-info {
    padding-left: 600px;
    max-height: 0.3px;
    position: right;
    font-size: large;
    display:flex;
    flex-flow:column;
    transform:translateY(100%);
    padding-bottom: 40px;
}

.design-box-1 {
    position: absolute;
    margin: 2em auto;
  padding: 1em 1em 1em;
  background-color: #fff; /* 背景色設定 */
  color: #000000; /* 文字色設定 */
  font-weight: bold; /* 文字の太さ */
  border: 5px solid #C0C0C0; /* 枠線設定 */
  border-radius: 3px; /* 角の丸み設定 */
  box-shadow: 0 0 8px #333, 0 0 2px #555 inset; /* ボックスの影（外側、内側） */
    z-index: -1;
    width: 200px;
    height: 80px;
    padding: 10px 20px;
    margin: 4px;
    
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer; /* ポインターを表示 */
}

.design-box-2 {
    position: absolute;
    padding:2em;/*内側の余白*/
	background: none;/*元のボックス背景色なし*/
	border:1px solid #ccc ;/*線の太さ・種類・色*/
	width: 425px;
    height: 380px;
    margin: 136px;
    margin-left: 749px;
}

.design-box-2::after {
    background-color:#eee;/*ずらしたボックスの背景色*/
	border:none;
	content: '';
	position: absolute;/*配置（ここを動かす）*/
	top: 7px;/*上から7pxずらす*/
	left: 7px;/*左から7pxずらす*/
	width: 100%;
	height: 100%;
	z-index: -1;
}

.design-box-3 {
    position: absolute;
    margin-top: 263px;
    margin-right: 740px;
    width: 250px;
    height: 260px;
    padding: 10px;
    border: solid 3px #333;
    border-radius: 8px;
}

.design-box-3 .design-box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #555;
    font-weight: bold;
}