.text {
    padding-left:10em;
}

.food {
    display:flex;
    flex-flow: column;
}

.back {
    display: flex;
    gap:200px;
}

.rear {            /* もどるボタン */
    position: absolute;
    border: none; /* ボーダーなし */
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* ポインターを表示 */
    font-size: 16px; /* フォントサイズ */
    margin-top: 120px;
    bottom: 480px;
    left: 1100px;
    width: 80px; /* もどるボタンの幅 */
    height: 50px; /* もどるボタンの高さ */
    background-color: #FADFD4; 
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.rear2 {            /* もどるボタン */
    position: absolute;
    border: none; /* ボーダーなし */
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* ポインターを表示 */
    font-size: 16px; /* フォントサイズ */
    margin-top: 120px;
    top: -60px;
    left: 1180px;
    width: 80px; /* もどるボタンの幅 */
    height: 50px; /* もどるボタンの高さ */
    background-color: #FADFD4; 
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.bfimage {       /*納豆ご飯画像*/
    position:absolute;
    left:850px;
    bottom:250px;
}

.bfimage2 {       /*温泉卵*/
    position:absolute;
    left:851px;
    top:430px;
}

.bfimage3 {       /*ツナチーズトースト*/
    position:absolute;
    left:880px;
    top: 710px;
}

.bfimage4 {       /*ヨーグルト*/
    position:absolute;
    left:880px;
    top: 1000px;
}

.luimage {       /*サラダチキン*/
    position:absolute;
    left:866px;
    bottom:260px;
}

.luimage3 {      /*肉サラダ*/
    position:absolute;
    left:896px;
    top:720px;
}

.diimage {       /*ポトフ*/
    position:absolute;
    left:940px;
    bottom:250px;
}

.diimage2 {     /*餃子*/
    position:absolute;
    left:890px;
    top:440px;
}

.diimage3 {     /*うどんげ*/
    position:absolute;
    left:840px;
    top:710px;
}

.diimage4 {     /*生姜焼き*/
    position:absolute;
    left:870px;
    top:984px;
}

.content {
    display:flex; /*横向き*/
    padding: 0em 0.5em;/*枠のサイズ変更*/
    margin: 40px auto;/*間隔変更*/
    width: 1000px;
    height: 200px;
    font-weight: bold;
    border-radius: 10px;/*枠角の丸み変更*/
    border: solid 1px #000000;
    background-color:#ffffff;
}

.sample-text {/*Lunchとdinnerのダイエットと筋トレの文字位置*/
    position: absolute;
    top: 70px;
    left: 165px;
}

.sample-text-2 {/*Lunchとdinnerのダイエットと筋トレの文字位置*/
    position: absolute;
    bottom: 155px;
    left: 165px;
}

.sample-text-3 {/*Lunchとdinnerのダイエットと筋トレの文字位置*/
    position: absolute;
    bottom: -130px;
    left: 165px;
}

.sample-text-4 {/*Lunchとdinnerのダイエットと筋トレの文字位置*/
    position: absolute;
    bottom: -410px;
    left: 165px;
}

.breakfast {
    padding: 14.5px;/*朝ごはんのページの枠内の間隔変更*/
}

.lunch {
    padding: 13.5px;/*昼ごはんのページの枠内の間隔変更*/
}

.dinner {
    padding: 13.5px;/*夜ごはんのページの枠内の間隔変更*/    
}

.dinner-2 {
    padding: 13.5px;/*夜ごはんのページの枠内の間隔変更*/
}

.diet_title {       /*「ダイエット」の配置変更*/
    position:absolute;
    top: 70px;
    left: 130px;
}

.diet_title2 {      /*「ダイエット」の配置変更*/
    position:absolute;
    top: 350px;
    left: 130px;
}

.kintore_title {     /*「筋トレ」の配置変更*/
    position:absolute;
    top:640px;
    left:170px;
}

.kintore_title2 {    /*「筋トレ」の配置変更*/
    position:absolute;
    top:920px;
    left:170px;
}

.after_main {
    display:flex;
    flex-flow: column; 
}

.after-part {
    padding: 0em 0.5em;/*枠のサイズ変更*/
    margin: 30px auto;/*間隔変更*/
    width: 1000px;
    height: 200px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px #000000;
    background-color:#ffffff;
}

#back {
    background: linear-gradient(#F1FEFE, #FFFFFF);
}

.afterimage {/*水を飲む人のイメージ*/
    position:absolute;
    top:17px;
    left:900px;
}

.afterimage-2 {/*休養を取る人のイメージ*/
    position:absolute;
    top:390px;
    left:900px;
}

