.text {
    padding-left:10em;
}
.food {
    display:flex;
    flex-flow: column;
}

.image {       /*納豆ご飯画像*/
    position:absolute;
<<<<<<< HEAD
    left:910px;
    bottom:310px;
}

.image2 {
    position:absolute;
    left:930px;
    bottom:32px;
}

.image3 {
    position:absolute;
    left:982.6px;
    bottom:303px;
}

.image4 {
    position:absolute;
    left:920px;
    bottom:28px;
}


=======
    left:850px;
    bottom:255px;
}

.image2 {     /*温泉卵画像*/
    position:absolute;
    left:850px;
    top:420px;
}

.image3 {     /*ツナトースト画像*/
    position:absolute;
    left:865px;
    top:700px;
}

.image4 {    /*ヨーグルト画像*/
    position:absolute;
    left:880px;
    top:1000px;
}
>>>>>>> f6fc0028839d7e5c684b875a7cfa92fd6e7f2998
.content {
    display:flex; /*横向き*/
    padding: 0em 0.5em;/*枠のサイズ変更*/
    margin: 40px auto;/*間隔変更*/
    width: 1000px;
    height: 200px;
    font-weight: bold;
    border-radius: 10px;/*枠角の丸み変更*/
    border: solid 1px #000000;
    background-color:#ffffff;
}



.sample-text {
    position: absolute;
    top: 70px;
    left: 185px;
  }

<<<<<<< HEAD
.lunch {
    padding: 13.5px;    
=======
.box1 {
    padding: 14.5px;/*昼ごはんのページの枠内の間隔変更*/
>>>>>>> f6fc0028839d7e5c684b875a7cfa92fd6e7f2998
}

.dinner {
    padding: 13.5px;    
}

.sample-text-2 {
    position: absolute;
    bottom: 203px;
    left: 185px;
  }

.breakfast {
    padding: 14.5px;/*朝ごはんのページの枠内の間隔変更*/
}

.diet_title {       /*「ダイエット」の配置変更*/
    position:absolute;
    top: 70px;
    left: 130px;
    
}

.diet_title2 {      /*「ダイエット」の配置変更*/
    position:absolute;
    top: 350px;
    left: 130px;
    
}

.kintore_title {     /*「筋トレ」の配置変更*/
    position:absolute;
    top:630px;
    left:130px;
}

.kintore_title2 {    /*「筋トレ」の配置変更*/
    position:absolute;
    top:910px;
    left:130px;
}
.after_main {
    display:flex;
    flex-flow: column;
    
}

.after-part {
    padding: 0em 0.5em;/*枠のサイズ変更*/
    margin: 30px auto;/*間隔変更*/
    width: 1000px;
    height: 200px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px #000000;
    background-color:#ffffff;
}

#back {
    background: linear-gradient(#F1FEFE, #FFFFFF);
}
