@charset "utf-8";
/*メニューボタン全体位置指定指定*/

#admin_nav {
    border-radius: 10px; /*枠の淵の丸み指定*/
    padding-top: 50px; /*上からの余白*/
    z-index: 1000;   /*他のより前に*/
    overflow: hidden; /*ボックスの範囲から飛び出た時そこを隠す*/
    margin: 0px auto;   /*外側の余白の大きさ*/
    position: fixed; /*無敵的な*/
    clear: both;  /*下の行を問題なく発生させる*/
    width: 130px; /* サイドバーの幅を設定 */
    height: 100vh; /* 画面全体の高さに合わせる */
    padding: 20px; /* パディングを追加 */
    border-right: 1px solid #ccc; /* サイドバーの右側に線を追加 */
    background: linear-gradient(#F1FEFE, #FFFFFF); /*背景色グラデ*/
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 水平方向に中央寄せ */
    justify-content: center; /* 垂直方向に中央寄せ */
    text-align: center;  /*テキストの位置を真ん中に*/
}


.custom-button {
    padding: 0px; /*内側の余白の大きさ*/
    border: none; /*線を消す*/
    border-radius: 10px;  /*枠の淵の丸み指定*/
    cursor: pointer; /*マウスが上に行った際にクリックできますよ的な感じのやつにポインターが変わるお*/
    font-size: 16px; /*文字の大きさ指定*/
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    width: 100%; /* ボタン全体をサイドバー幅に合わせる */
    height: 50px; /* ボタンの高さを調整 */
    margin-bottom: 85px;
}
 
 
/* ボタン風のリンクスタイル */
.button-link {
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    padding: 10px 20px; /* 上下のパディングを設定 */
    width: 100%; /* リンク幅をボタン全体に */
    color: black;
    background-color: #FFEA81;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 100px;      /*横幅の指定*/
    min-height: 50px;       /*縦幅の指定*/
}
 
 
 
#body {
    display: flex; /* ボディ全体をフレックスコンテナに */
    font-family: Arial, sans-serif; /* フォント設定 */
    background: linear-gradient(#F1FEFE, #FFFFFF); /*背景色グラデ*/
}
 

 
ul{
    padding-left:0;
  }
 
  li{
    list-style: none;
    width: 100%; /* リスト全体をボタンに合わせる */
    display: flex;
    justify-content: center; /* ボタンを中央に配置 */
  }