
@charset "utf-8"; 

/*メニューボタン全体位置指定指定*/
#admin_nav {
    width: 130px;
    clear: both;
    overflow: hidden;
    margin: 0px auto;
    position: fixed; 
    top: 0;          
    left: 0;         
    height: 100%;    
    z-index: 1000;   /*他のより前に*/
    background: linear-gradient(#F1FEFE, #FFFFFF); /*グラデの背景色*/
    border-right: 2px solid black; 
    padding-top: 60px; 
    border-radius: 10px;
}
.custom-button {
    padding: 15px 0px; /* 共通のパディング */
    border: none; /* ボーダーなし */
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* ポインターを表示 */
    font-size: 16px; /* フォントサイズ */
}


/* ボタン風のリンクスタイル */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: #FFEA81;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    min-width: 100px;      /*横幅*/
    min-height: 50px;       /*立幅*/
    text-align: center;     /* 中央寄せ */
}



#body {
    display: flex; /* ボディ全体をフレックスコンテナに */
    font-family: Arial, sans-serif; /* フォント設定 */
    background: linear-gradient(#F1FEFE, #FFFFFF); /*背景色グラデ*/
}
 
#admin_nav {
    width: 150px; /* サイドバーの幅を設定 */
    height: 100vh; /* 画面全体の高さに合わせる */
    padding: 20px; /* パディングを追加 */
    border-right: 1px solid #ccc; /* サイドバーの右側に線を追加 */
    background: linear-gradient(#F1FEFE, #FFFFFF); /*背景色グラデ*/
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 水平方向に中央寄せ */
    justify-content: center; /* 垂直方向に中央寄せ */
    text-align: center;  /*テキストの位置を真ん中に*/
}
 
ul{
    padding-left:0;
  }
  
  li{
    list-style: none;
    width: 100%; /* リスト全体をボタンに合わせる */
    display: flex;
    justify-content: center; /* ボタンを中央に配置 */
  }